html, body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.commentators-block {
    display: none;
    margin-top: 5px;
}

.commentators {
    height: 150px;
}

.comments {
    width: 350px;
    height: auto;
    background-color: #FBF6F4;
    border-radius: 10px;
    padding: 10px;
    margin-left: 50px;
    text-align: justify;
}

.list-of-players {
    list-style-type: none;
}

.text-for-game {
    display: none;
    margin: 10px 200px 20px;
    text-align: justify;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.field-for-input {
    display: none;
    font-size: 14px;
    margin-top: 20px;
}

.progress {
    display: none;
    width: 300px;
    background-color: green;
    border: 0;
    height: 20px;
    border-radius: 10px;
}

progress::-webkit-progress-bar {
    color: grey;
    border: 0;
    height: 20px;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    color: green;
    border-radius: 10px;
}

progress::-moz-progress-bar {
    background-color: green;
    border: 0;
    height: 20px;
    border-radius: 10px;
}